<h1>Skillz in Week 14</h1>

<h2>Skills you have reviewed</h2>
<p>practice a drap and drop</p>
<ul>
  {{#each skills}}
  <br>
    {{#unless reviewed}}
      {{> skills/skill-block reviewed=true}}
    {{/unless}}
  {{/each}}
</ul>

<br>
<br>

<h2>Search skills from week 14 here
  or display: 
  which week it is in
  what www sites offer resources
</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Skill Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="reviewed">?</label><br>
    <input type="radio" name="reviewed" value="1" checked> Already reviewed this skill!<br>
    <input type="radio" name="reviewed" value="0"> Need to Review 
  </div>

  <button type="submit">Add Skill</button>
</form>
